<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button [routerLink]="'/'" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут Автор</strong>
    <small>12.12.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet asperiores at blanditiis cupiditate deserunt dolorum eaque earum eligendi esse ex expedita fuga iste laudantium magnam numquam, officia praesentium qui reiciendis repellendus soluta tenetur voluptate. Aspernatur at consectetur consequatur ea mollitia odio provident totam unde?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet asperiores at blanditiis cupiditate deserunt dolorum eaque earum eligendi esse ex expedita fuga iste laudantium magnam numquam, officia praesentium qui reiciendis repellendus soluta tenetur voluptate. Aspernatur at consectetur consequatur ea mollitia odio provident totam unde?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet asperiores at blanditiis cupiditate deserunt dolorum eaque earum eligendi esse ex expedita fuga iste laudantium magnam numquam, officia praesentium qui reiciendis repellendus soluta tenetur voluptate. Aspernatur at consectetur consequatur ea mollitia odio provident totam unde?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet asperiores at blanditiis cupiditate deserunt dolorum eaque earum eligendi esse ex expedita fuga iste laudantium magnam numquam, officia praesentium qui reiciendis repellendus soluta tenetur voluptate. Aspernatur at consectetur consequatur ea mollitia odio provident totam unde?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet asperiores at blanditiis cupiditate deserunt dolorum eaque earum eligendi esse ex expedita fuga iste laudantium magnam numquam, officia praesentium qui reiciendis repellendus soluta tenetur voluptate. Aspernatur at consectetur consequatur ea mollitia odio provident totam unde?</p>
  </div>
</div>
